# dependencies
node_modules
node_modules/

# build output
.next
.next/
.build/
dist/
out/

# env files
.env
.env.local
.env.*.local

# vercel
.vercel
.vercel/

# logs
*.log

# OS
.DS_Store
Thumbs.db

# yarn
.yarn/
.yarnrc.yml
